#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

#toolbar { font-size: 11px;line-height: 30px;text-transform: uppercase;-webkit-app-region: no-drag; transition: all 150ms; width: 100%; position:fixed; bottom:30px; left:40px; height:30px; max-width:calc(100vw - 75px); overflow: hidden;}
#toolbar #menu { opacity: 1; position: absolute; top:0px; transition: all 250ms; z-index: 900; overflow: hidden; height:30px; width:100%;}
#toolbar svg.icon { width:30px; height:30px; margin-right:5px; opacity: 0.6; transition: opacity 250ms; }
#toolbar svg.icon.inactive { opacity: 0.2 }
#toolbar svg.icon:hover { cursor: pointer; opacity: 1.0 }
#toolbar svg.icon:last-child { margin-right: 0; }
#toolbar svg.icon path { fill:none; stroke-linecap: round; stroke-linejoin: round; stroke-width:12px; }

